<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.quixada.dsdm.myapplicationtestemulttabs" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="gcm.play.android.samples.com.gcmquickstart.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- [END gcm_permission] -->



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/face_lucas"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".view.MainActivityTabMensagens"
            android:label="@string/title_section1" >
        </activity>
        <activity
            android:name=".view.ActivityCriarGrupo"
            android:label="@string/title_section2"
            android:parentActivityName=".view.MainActivityTabMensagens" >
        </activity>
        <activity
            android:name=".view.ActivityListaAmigos"
            android:label="@string/title_section3"
            android:parentActivityName=".view.MainActivityTabMensagens" >
        </activity>
        <activity
            android:name=".view.ActivityBatePapo"
            android:label="@string/title_activity_bate_papo"
            android:parentActivityName=".view.MainActivityTabMensagens" >
        </activity>
        <activity
            android:name=".view.ActivityLogin"
            android:label="@string/app_name" >

            <!-- Depois colocar no Login -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ActivityConfiguracoes"
            android:label="@string/title_activity_activity_configuracoes" >
        </activity>
        <activity
            android:name=".googleGCM.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- SERVICER E BROADCASTS-->
        <service
            android:name=".service.ServiceLocal"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".controle.BroadCastMsg">
            <intent-filter>
                <action android:name="RECEBER_MENSAGEM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>


        <!--FIM SERVICE E BRADCASTS -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".googleGCM.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".googleGCM.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".googleGCM.RegistrationIntentService"
            android:exported="false" >
        </service>

        <activity android:name=".view.ActivityAdicionarAmigo" >
        </activity>
    </application>

</manifest>
